body {
  margin: 0;
  padding: 0;
  background-color: #f1dede;
  overflow-y: auto;
}

#Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #f2c2c2;
  max-height: fit-content;
}

#LogoBar {
  display: flex;
  align-items: center;
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #bf0095;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: medium;
  max-width: fit-content;
  max-height: fit-content;
}

#LogoBar img {
  display: flex;
  max-width: 70px;
  margin-right: 10px;
}

#NavigationBar {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap;
  align-items: center; /* Align items vertically in the center */
  padding: 10px; /* Add padding for spacing */
}

#NavigationBar h2 {
  margin: 0 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
}
#NavigationBar h2:hover {
  color: white;
  text-shadow: 2px 2px 4px #7c4d4d;
}
*/ .icon img {
  margin-right: 5px;
  margin-bottom: 15px;
}
.icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  max-width: 500px;
  margin-right: 10px;
  padding: 5px;
}
.headerButton {
  /* max-width: 180px; */
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  margin-right: 10px;
  background-color: #7c4d4d;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: larger;
  box-shadow: 5px 5px 10px #7c4d4d;
  border-radius: 15px;
  align-items: center;
}
#menuBar {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: center;
  padding: 20px;
  max-width: 120px;
}

.menuButton {
  background-color: #e2cccc;
  border-radius: 10px;
  align-items: center;
  font-size: medium;
  box-shadow: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  max-width: 200px;
  margin-bottom: 10px;
  text-align: center;
}
.menuButton:hover {
  background-color: #bf0095;
  color: white;
}
.menuButton h3 {
  margin: 8px;
}

#Menu {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  /* max-width: fit-content; */
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  max-height: 645px;
  max-width: 866px;
  overflow-y: auto;
  /* justify-content: space-between; */
}
#Menu img {
  display: flex;
  max-height: 500px;
}
.submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#signatureSubmenu {
  /* border: #bf0095, solid, 7px; */
  border-color: #bf0095;
  border-width: 7px;
  border-style: solid;
}
.menuItems {
  display: flex;
  background-color: #e2cccc;
  font-size: medium;

  box-shadow: 5px 5px 10px #814d76;
  border-color: #814d76;
  border-style: solid;
  border-width: 7px;
  border-radius: 10px;

  max-height: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.itemandPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: fit-content;
  flex-direction: row;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.itemandPrice p {
  margin-left: 20px;
  margin-right: 0px;
  justify-content: right;
}
.itemandPrice img {
  border-radius: 10px;
  padding: 1px;
}

#Menu h2,
#Gallery h2 {
  text-align: center;
  font-size: large;
  background-color: #bf0095;
  color: white;
  /* max-width: 240px; */
  justify-content: center;
  max-width: max-content;
  padding: 8px 5px;
  border-radius: 5px;
  align-items: center;
  /* margin: auto; */
}
#pageBody {
  display: flex;
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Align items vertically in the center */
  flex-direction: row;
}
#toppingsSubMenu {
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
  /* max-height: 300px; */
  max-width: 370px;
  flex-direction: row;
}
#sugarSubmenu,
#iceSubmenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 250px;
  justify-content: left;
  padding-left: 10px;
}
#sugarSubmenu h3,
#iceSubmenu h3 {
  margin: 10px;
}
#Gallery {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: 55px;
  border-radius: 15px;

  align-items: center;
  /* background-color: #f2c2c2; */
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1000px;
}
.gallery-item {
  justify-content: center;
  padding: 10px;
}
.splitter {
  background-color: #bf0095;
  opacity: 50%;
  height: 90px;
}
